---
---
@charset "utf-8";
@import "animations";
@import "colors";
@import "typography";
@import "footer";
@import "minima";
@import "about";
@import "resume";


body {
  background: $background-color;
  color: $text-color;
  font-family: $base-font-family;
  line-height: $line-height;
  font-size: $base-font-size;
}

.wrapper {
  max-width: 1000px;
  margin: $spacing-unit auto;
  padding: 0 0%;
}

a,
a:visited {
  border-bottom: 1px dotted $border-color;
  text-decoration: none;
  color: $text-color;
}

a:hover {
  color: $link-color;
  text-decoration: none;
}

.logo {
  font-family: $base-font-family;
  text-align: center;
}

.site-nav {
  width: 100%;
  text-align: center;
  font-family: $base-font-family;
  font-weight: bold;
  margin-bottom: 0.5em;
  background-color: inherit;
  border: none;

  ul {
    list-style: none;
    margin: 0 $spacing-unit;
    padding: 0;
  }

  li {
    display: inline-block;
    margin-right: 1em;
  }
}

.me {
  height: 400px;
  border-radius: 5%;
  margin: 0 1.75em 0 0;
  float: left;
}

.content {
  margin-top: 50px;
  padding: 0 10%;
  line-height: $line-height;
  @include fadeInAnimation;
}

.date {
  font-size: $small-font-size;
  font-style: italic;
}

@media screen and (max-width: 600px) {
  .logo {
    margin-top: 80px;
  }

  .site-nav {
    left: 0;
  }

  .me {
    display: block;
    float: none;
    margin: 0 auto 1em auto;
  }
}
