<footer>
  <p class="copyright">
    &copy; 2024 Adrianne Daley | view the code on
    <a
      href="https://github.com/noelledaley/noelledaley.github.io"
      target="_blank"
      rel="noopener noreferrer"
      >GitHub</a
    >.
  </p>
  <ul class="social-icons">
    <li>
      <a
        href="mailto:me@adriannedaley.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa fa-envelope" aria-hidden="true"></i>
      </a>
    </li>
    <li>
      <a href="https://github.com/noelledaley">
        <i
          class="fa fa-github"
          aria-hidden="true"
          target="_blank"
          rel="noopener noreferrer"
        ></i>
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/adriannedaley"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa fa-linkedin-square" aria-hidden="true"></i>
      </a>
    </li>
  </ul>
</footer>
