<footer>
  <p class="copyright">
    &copy; 2024 Adrianne Daley | view the code on
    <a
      href="https://github.com/noelledaley/noelledaley.github.io"
      target="_blank"
      rel="noopener noreferrer"
      >GitHub</a
    >.
  </p>
  <ul class="social-icons">
    <li>
      <a
        href="mailto:me@adriannedaley.com"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa-solid fa-envelope" title="email me"></i>
      </a>
    </li>
    <li>
      <a
        href="https://github.com/noelledaley"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa fa-github" title="view my github profile"></i>
      </a>
    </li>
    <li>
      <a
        href="https://www.linkedin.com/in/adriannedaley"
        target="_blank"
        rel="noopener noreferrer"
      >
        <i class="fa fa-linkedin-square" title="view my linkedin profile"></i>
      </a>
    </li>
  </ul>
</footer>
