footer {
  text-align: center;
  padding: 1em 0;
  font-size: 0.8em;

  .social-icons {
  overflow: hidden;
  padding: 0;
  list-style: none;
  border: none;

  li {
    display: inline-block;
    margin-right: 1em;
  }

  a {
    border: none;
  }
}

  .copyright {
    font-family: $sans-serif-font-family;
    font-weight: 100;
    margin-bottom: 8px;
  }
}
