.resume {
  h1, h3, h4, h5 {
    margin-bottom: 8px;
  }

  .summary, .experience > *, .position, .skills, .education {
    opacity: 0;
    transform: translateY(10px);
    @include fadeInAnimation;
  }

  .summary {
    animation-delay: 0.2s;
    display: flex;
    padding: 48px 0px;
    width: 100%;

    h1 {
      letter-spacing: -0.5px;
      line-height: 1.25em;
    }
  }

  .body {
    display: flex;
    gap: 60px;
    padding: 48px 0px;
    border-top: 1px solid rgba(34, 34, 34, 0.2);

    .experience {
        & > *:nth-child(1) {
        animation-delay: 0.4s;
        }

        & > *:nth-child(2) {
        animation-delay: 0.4s;
        }

        & > *:nth-child(3) {
        animation-delay: 0.8s;
      }
    }

    p,
    li {
      font-size: 16px;
      line-height: 1.5em;
    }

    .section-header {
      font-size: 14px;
      font-weight: 600;
    }

    .job {
      display: flex;
      gap: 40px;

      &--company {
        width: 360px;

        h4 {
          font-size: 16px;
        }

        p {
          font-size: 12px;
        }
      }

      &--description {
        h3 {
          margin-top: 0;
          font-size: 20px;
          letter-spacing: -0.5px;
          line-height: 1.4em;
        }

        .position:nth-child(1) {
          animation-delay: 0.4s;
        }

        .position:nth-child(2) {
          animation-delay: 0.6s;
        }
      }
    }

    .education {
      display: flex;
      gap: 40px;
      animation-delay: 1s;

      .schooling {
        display: flex;
        gap: 20px;

        h5 {margin-bottom: 0px;}
      }
    }

    .col-right {
      width: 100%; 

      & > :nth-child(1) {
        animation-delay: 0.6s;
      }

      & > :nth-child(2) {
        animation-delay: 0.6s;
      }
      
      .skills {
        margin-bottom: 20px;

        ul,
        li {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
  
}