.resume {
  h3, h4, h5 {
    margin-bottom: 12px;
  }

  .summary {
    display: flex;
    padding: 48px 0px;
    width: 100%;
  }

  .body {
    display: flex;
    gap: 60px;
    padding: 48px 0px;
    border-top: 1px solid rgba(34, 34, 34, 0.1);

    p,
    li {
      font-size: 14px;
      line-height: 1.5em;
      color: rgb(102, 102, 102);
    }

    .section-header {
      font-size: 14px;
      font-weight: 600;
    }

    .job {
      display: flex;
      gap: 40px;
      width: 100%;

      &--company {
        width: 360px;

        h4 {
          font-size: 14px;
          letter-spacing: 0px;
        }

        p {
          font-size: 12px;
        }
      }

      &--description {
        h3 {
          margin-top: 0;
          font-size: 20px;
          letter-spacing: -0.5px;
          line-height: 1.4em;
        }
      }
    }

    .education {
      display: flex;
      gap: 40px;

      .schooling {
        display: flex;
        gap: 20px;

        h5 {margin-bottom: 0px;}
      }
    }

    .col-right {
      width: 100%; 
      
      .skills {
        margin-bottom: 20px;

        ul,
        li {
          list-style-type: none;
          margin: 0;
          padding: 0;
        }
      }
    }
  }
}