---
layout: default
---

<div class="head">
  <h1>With over a decade of tech industry experience and a versatile background in engineering, design, and leadership, I bring a pragmatic and empathetic approach to building software.</h1>
</div>
<div class="body">
  <div class="col-left">
    <div class="experience">
      <h3>Experience</h3>
      <div class="job">
        <div class="job--company">
          <h4>HashiCorp</h4>
          <h5>2018 - present</h5>
        </div>
        <div class="job--description">
          <h3>Staff Software Engineer</h3>
          <p>Pioneered the development of the HashiCorp Vault Dedicated (HVD) UI from inception to GA, the first product built by a product team on HashiCorp’s Cloud Platform.</p>
          <p>Initiated and spearheaded the successful release of HVD Link, handling all scoping, architecting, and leading the initial execution of a yearlong initiative improving UX for existing customers by centralizing the view of self-hosted and cloud-hosted Vault clusters.</p>
          <p>Architected and led the initial UI execution of HVD on Azure, a major refactor involving multiple engineering teams. Implemented a pragmatic approach to break down the refactor into manageable pieces, ensuring timely delivery without compromising quality.</p>
          <p>Founded and grew the UI team, crafting onboarding materials and team process documents that have been duplicated across the engineering organization.</p>
          
          <h3>Senior Software Engineer</h3>
          <p>Paved the way for a company-wide design system by developing Vault's first Javascript component library. </p>
          <p>Helped users understand a new pricing model by building Vault's first data visualization. </p>
          <p>Improved key interaction patterns by collaborating closely with designers to assess feasibility, prototype and implement solutions.</p>
        </div>
      </div>
      <div class="job">
        <div class="job--company">
          <h4>New Relic</h4>
          <h5>2014 - 2018</h5>
        </div>
        <div class="job--description">
          <h3>Software Engineer</h3>
          <p>Worked with cross-functional team of engineers, designers, and product managers to build innovative new product offerings and maintain New Relic’s leading APM product using JavaScript, React, Redux, Ruby, Rails, and Sass/CSS</p>
          <p>Performed bug fixes and maintenance to support the stability of a monolithic, legacy Rails application that handled 85% of New Relic’s product traffic</p>
          <p>Improved UX across New Relic's product suite by contributing interactions, styles, and reusable React components to New Relic's design system.</p>
          <p>Led the extraction and rebuilding of an internal Rails app, enabling easier rails upgrades and improving security and UX.</p>
          <p>Added instrumentation, built dashboards, and standardized project rollout process resulting in improved understanding of user experience, smoother rollouts, and fewer bugs.</p>
          <p>Co-lead internal UI education group, providing resources and training colleagues on building, testing, and documenting React components in hands-on workshops.</p>
        </div>
      </div>
    </div>
    <div class="education">
      <div class="education--title">
        <h3>Education</h3>
      </div>
      <div class="schooling">
        <div class="hackbright">
          <h3>Hackbright Academy</h3>
          <p>Software Engineering</p>
        </div>
        <div class="ucsc">
          <h3>University of California, Santa Cruz</h3>
          <p>Sociology</p>
        </div>
      </div>
    </div>
  </div>
  <div class="col-right">
    <div class="skills">
      <h3>Skills</h3>
      <ul>
        <li>JavaScript</li>
        <li>TypeScript</li>
        <li>Ember.js</li>
        <li>React.js</li>
        <li>CSS</li>
        <li>Figma</li>
      </ul>
    </div>
    <div class="skills">
      <h3>Expertise</h3>
      <ul>
        <li>Frontend Software Engineering</li>
        <li>Prototyping</li>
        <li>Wireframing</li>
        <li>User Research</li>
        <li>Usability Testing</li>
        <li>Project Management</li>
      </ul>
    </div>
  </div>
</div>

