---
layout: default
---

<div class="resume">
  <section class="summary">
    <h1>
      With a decade of tech industry experience and a well-rounded background in
      engineering, design, and team leadership, I bring an empathetic approach
      and a proven track record for delivering impactful projects and helping
      teams grow.
    </h1>
  </section>
  <div class="body">
    <div class="col-left">
      <section class="experience">
        <h3 class="section-header">Experience</h3>
        <div class="job">
          <div class="company">
            <h4>HashiCorp</h4>
            <time>2018 - present</time>
          </div>
          <div class="job-description">
            <div class="role">
              <h3>Staff Software Engineer</h3>
              <p>
                Founded and led the HashiCorp Vault Dedicated (HVD) UI team,
                guiding the company's leading cloud product from inception to
                GA.
              </p>
              <p>
                Led the initial UI implementation of HVD on Azure, a pivotal
                initiative to broaden the product's customer reach. Orchestrated
                a significant refactor across multiple engineering teams,
                ensuring prompt delivery without compromising quality.
              </p>
              <p>
                Developed 2 new product SKUs and implemented multiple feature
                sets, significantly contributing to the product's enterprise-readiness. Authored architectural design documents,
                decision records, and facilitated coordination with backend
                teams on A PI design and implementation.
              </p>
              <p>
                As tech lead, expanded the UI team from 1 to 4 engineers.
                Developed onboarding materials and team process documents that
                have been celebrated and duplicated across the engineering
                organization.
              </p>
            </div>
            <div class="role">
              <h3>Senior Software Engineer I-II</h3>
              <p>
                Crafted Vault's first data visualization to simplify user
                understanding of a new pricing model.
              </p>
              <p>
                Paved the way for a company-wide design system by developing
                Vault's inaugural Javascript component library.
              </p>
              <p>
                Collaborated closely with designers to assess feasibility,
                prototype, and implement solutions, enhancing key interaction
                patterns in the Vault Enterprise UI.
              </p>
            </div>
          </div>
        </div>
        <div class="job">
          <div class="company">
            <h4>New Relic</h4>
            <time>2014 - 2018</time>
          </div>
          <div class="job-description">
            <div class="role">
              <h3>Software Engineer I-III</h3>
              <p>
                Resolved bugs and maintained a stable monolithic, legacy Rails
                application, managing 85% of New Relic’s product traffic.
              </p>
              <p>
                Collaborated with a cross-functional team of engineers and
                designers to revamp New Relic APM's Error monitoring feature,
                one of the product's most critical enterprise workflows.
              </p>
              <p>
                Elevated UX across New Relic's product suite by contributing
                interactions, styles, and reusable React components to New
                Relic's design system.
              </p>
              <p>
                Led the extraction and rebuilding of an internal Rails app,
                streamlining rails upgrades and enhancing security and UX.
              </p>
              <p>
                Implemented instrumentation, constructed dashboards, and
                standardized the project rollout process, resulting in a
                comprehensive understanding of user experience, smoother
                rollouts, and fewer bugs.
              </p>
              <p>
                Co-led an internal UI education group, providing resources and
                conducting hands-on workshops to train colleagues on building,
                testing, and documenting React components.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="education mobile">
        <h3 class="section-header">Education</h3>
        <div class="schools">
          <div>
            <h5>Hackbright Academy</h5>
            <p>Software Engineering</p>
          </div>
          <div>
            <h5>University of California, Santa Cruz</h5>
            <p>Sociology</p>
          </div>
        </div>
      </section>
    </div>
    <div class="col-right">
      <section class="skills">
        <h3 class="section-header">Skills</h3>
        <ul class="skills--list">
          <li>JavaScript</li>
          <li>TypeScript</li>
          <li>Ember.js</li>
          <li>React.js</li>
          <li>Ruby</li>
          <li>Rails</li>
          <li>CSS</li>
          <li>Git</li>
          <li>Figma</li>
          <li>Prototyping</li>
          <li>Wireframing</li>
        </ul>
      </section>
      <section class="education desktop">
        <h3 class="section-header">Education</h3>
        <ul>
          <li>Hackbright Academy</li>
          <li><i>Software Engineering</i></li>
        </ul>
        <ul>
          <li>University of California, Santa Cruz</li>
          <li><i>Sociology</i></li>
        </ul>
      </section>
    </div>
  </div>
</div>
