---
layout: default
---

<div class="resume">
  <section class="summary">
    <h1>
      With a well-rounded background in frontend and fullstack engineering,
      design, and team leadership, I bring a proven track record for delivering
      delightful UIs and helping teams grow.
    </h1>
    <p>Read more about <a href="/how-i-work">how I work</a>.</p>
  </section>
  <div class="body">
    <div class="col-left">
      <section class="experience">
        <h3 class="section-header">Experience</h3>
        <div class="job">
          <div class="company">
            <h4>
              <a
                href="https://www.hashicorp.com/"
                target="_blank"
                rel="noopener noreferrer"
                >HashiCorp</a
              >
            </h4>
            <time>2018 - present</time>
            <div class="tech-stack">
              <span class="tag">Ember.js</span>
              <span class="tag">JavaScript</span>
              <span class="tag">TypeScript</span>
              <span class="tag">CSS</span>
            </div>
          </div>
          <div class="job-description">
            <div class="role">
              <h3>Staff Software Engineer</h3>
              <p>
                Founded and led the
                <a
                  href="https://developer.hashicorp.com/hcp/docs/vault"
                  target="_blank"
                  rel="noopener noreferrer"
                  >HCP Vault</a
                >
                UI team, guiding the company's leading cloud product from
                inception to
                <a
                  href="https://www.hashicorp.com/blog/vault-on-the-hashicorp-cloud-platform-ga"
                  target="_blank"
                  rel="noopener noreferrer"
                  >GA</a
                >. As the first external contributor to the UI platform,
                influenced key architectural decisions and made foundational
                contributions to the platform, helping to establish best
                practices and patterns for what is now a thriving ecosystem with
                over 60 contributors.
              </p>
              <p>
                Led the initial UI implementation of
                <a
                  href="https://www.hashicorp.com/blog/hcp-vault-on-microsoft-azure-is-now-generally-available"
                  target="_blank"
                  rel="noopener noreferrer"
                  >HCP Vault on Azure</a
                >, a yearlong initiative that broadened the product's customer
                reach. Orchestrated a substantial refactor across multiple
                engineering teams, ensuring prompt delivery without compromising
                quality.
              </p>
              <p>
                Developed
                <a
                  href="https://developer.hashicorp.com/hcp/docs/vault/tiers-and-features"
                  target="_blank"
                  rel="noopener noreferrer"
                  >3 new product SKUs</a
                >
                and implemented
                <a
                  href="https://developer.hashicorp.com/hcp/docs/vault/perf-replication"
                  target="_blank"
                  rel="noopener noreferrer"
                  >multiple</a
                >
                <a
                  href="https://developer.hashicorp.com/hcp/docs/vault/integrations#audit-log-streaming"
                  target="_blank"
                  rel="noopener noreferrer"
                  >feature sets</a
                >, significantly contributing to the product's
                enterprise-readiness. Authored architectural design documents,
                decision records, and facilitated coordination with backend
                teams on API design and implementation.
              </p>
              <p>
                As team lead, built tooling and authored interview guides,
                onboarding materials, and team process documents that have
                supported the onboarding of over 40 engineers across the
                organization.
              </p>
            </div>
            <div class="role">
              <h3>Senior Software Engineer I-II</h3>
              <p>
                Partnered with design to build Vault's first data visualization,
                improving user understanding of a new pricing model and
                establishing a foundation for all subsequent Vault charts.
              </p>
              <p>
                Paved the way for a company-wide design system by developing
                Vault's inaugural Javascript component library.
              </p>
              <p>
                Improved cross-browser compatibility and resolved a critical
                bugs for enterprise customers by setting up
                <a
                  href="https://www.browserstack.com/automate"
                  target="_blank"
                  rel="noopener noreferrer"
                  >cross-browser testing</a
                >. Wrote an RFC to evaluate options, gather feedback, and
                document a plan for other teams to follow.
              </p>
              <p>
                Facilitated an internal training on testing best practices for
                over 30 UI engineers and led weekly team pairing sessions,
                providing ongoing mentoring and fostering a team culture of
                humility and continuous learning.
              </p>
            </div>
          </div>
        </div>
        <div class="job">
          <div class="company">
            <h4>
              <a
                href="https://newrelic.com/"
                target="_blank"
                rel="noopener noreferrer"
                >New Relic</a
              >
            </h4>
            <time>2014 - 2018</time>
            <div class="tech-stack">
              <span class="tag">React.js</span>
              <span class="tag">JavaScript</span>
              <span class="tag">Ruby</span>
              <span class="tag">Rails</span>
              <span class="tag">GraphQL</span>
              <span class="tag">CSS</span>
            </div>
          </div>
          <div class="job-description">
            <div class="role">
              <h3>Software Engineer I-III</h3>
              <p>
                Resolved bugs and maintained a stable monolithic, legacy Rails
                application that managed
                <a
                  href="https://newrelic.com/platform/application-monitoring"
                  target="_blank"
                  rel="noopener noreferrer"
                  >85% of New Relic’s product traffic</a
                >.
              </p>
              <p>
                Collaborated with a cross-functional team of engineers and
                designers to revamp New Relic APM's
                <a
                  href="https://www.youtube.com/watch?v=Ud0mZPk790o"
                  target="_blank"
                  rel="noopener noreferrer"
                  >Error Analytics</a
                >
                feature, one of the product's most critical enterprise
                workflows.
              </p>
              <p>
                Elevated UX across New Relic's product suite by contributing
                reusable React components to New Relic's design system.
              </p>
              <p>
                Led the extraction and rebuilding of an internal Rails
                application, improving maintainability, security, and UX.
              </p>
              <p>
                Implemented instrumentation, dashboards, and standardized the
                project rollout process, resulting in improved understanding of
                user experience, smoother feature rollouts, and fewer bugs.
              </p>
              <p>
                Co-led an internal UI education group, providing resources and
                workshops to train colleagues on React best practices.
              </p>
            </div>
          </div>
        </div>
      </section>
      <section class="education mobile">
        <h3 class="section-header">Education</h3>
        <div class="schools">
          <div>
            <h5>Hackbright Academy</h5>
            <p>Software Engineering</p>
          </div>
          <div>
            <h5>University of California, Santa Cruz</h5>
            <p>Sociology</p>
          </div>
        </div>
      </section>
    </div>
    <div class="col-right">
      <section class="skills">
        <h3 class="section-header">Skills</h3>
        <div class="skills--list">
          <span class="tag">JavaScript</span>
          <span class="tag">TypeScript</span>
          <span class="tag">Ember.js</span>
          <span class="tag">React.js</span>
          <span class="tag">Ruby</span>
          <span class="tag">Rails</span>
          <span class="tag">GraphQL</span>
          <span class="tag">CSS</span>
          <span class="tag">Git</span>
          <span class="tag">Figma</span>
          <span class="tag">Prototyping</span>
          <span class="tag">Wireframing</span>
        </div>
      </section>
      <section class="education desktop">
        <h3 class="section-header">Education</h3>
        <div class="schools">
          <div>
            <h5>Hackbright Academy</h5>
            <p><i>Software Engineering</i></p>
          </div>
          <div>
            <h5>University of California, Santa Cruz</h5>
            <p><i>Sociology</i></p>
          </div>
        </div>
      </section>
    </div>
  </div>
</div>
